<html>
   <body>
      <form action = "http://127.0.0.1:5000/result" method = "post">
          <p>  <input type="text"  name="startLoc" placeholder="From"></p>
         <p> <input type="text" name="endLoc" placeholder="To"></p> 
      	<select id="_mode" name ="_mode">
         <option value="TwoWheel">Two Wheeler</option>
         <option value="fourWheel">Four Wheeler</option>
         <option value="Cycle">Bycycling</option>
         <option value="Walking">Walk</option>      
    </select>
         <p><input type = "submit" class="searchButton" value = "submit" /></p>
      </form>
   </body>
</html>